extends layout

block content
  h1#buttons Buttons
  p Axis' buttons are extremely flexible to be able to fit any situation. They come in two flavors, the basic default button and the glossy button.

  each button in site.modules.buttons
    +doc(button)

  h1#code Code
  p A small collection of simple and polished styles for code blocks.
  
  each code in site.modules.code
    +doc(code)


//- This mixin renders the documentation block for each object
mixin doc(fn)
  hr

  h3(id=fn.name)= fn.name + "(" + (fn.params ? Object.keys(fn.params) : '') + ")"
  p= fn.description

  if fn.params
    h4 Parameters
    dl
      each v, k in fn.params
        dt= k
        dd= v

  h4 Examples

  each example in fn.examples
    .example
      pre= example.code
      .el!= example.el